body {
            --bs-font-sans-serif: 'Sofia Sans', sans-serif; 
            --bs-body-font-family: var(--bs-font-sans-serif);
}

.card-header {
    background-color: #d688b2;
}

.card-subtitle {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}


.my-custom-color {
  color: #FDFDF0; 
}