body {
            --bs-font-sans-serif: 'Sofia Sans', sans-serif; 
            --bs-body-font-family: var(--bs-font-sans-serif);
}

.card-header {
    background-color: #d688b2;
}

.card-subtitle {
  margin-top: 2rem;
  margin-bottom: 1rem;
}


.my-custom-color {
  color: #FDFDF0; 
}

.highlight {
  border-bottom: 0.3rem solid #d688b2;
  padding-bottom: 2rem;
}

img {
  max-height: 300px;
}

.mini {
  margin-top: 0.5rem;
  max-height: 100px;
}